Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.git/
.idea/

.vsconfig
*.sln.DotSettings.user
/Plugins/CCGToolkit/
/Content/StarterContent/
*.ddargs.json
/Plugins/Developer/RiderLink/
